<div class="card">
  <div class="card-body">
    <button class="btn btn-info" (click)="open(content)">Agregar Producto</button>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="text-center">
          <th>Codigo</th>
          <th>Nombre</th>
          <th>descripcion</th>
          <th>cantidad</th>
          <th>precio</th>
          <th>status</th>
          <th>opciones</th>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let producto of productos; let i = index">
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>{{ producto.precio }}</td>
            <td *ngIf="producto.status"><span class="btn btn-success btn-sm">Activo</span></td>
            <td *ngIf="!producto.status"><span class="btn btn-danger btn-sm">Inactivo</span></td>

            <td>
              <div ngbDropdown class="d-inline-block" container="body">
                <button class="btn" id="dropdownBasic1" ngbDropdownToggle>
                  <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item" (click)="open(content,producto)"> Editar</button>
                  <button class="dropdown-item" (click)="deleteTecnico(producto.id)">Borrar</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="animate__animated animate__fadeIn">
    <div class="modal-header ">
      <h4 *ngIf="!producto.edit" class="modal-title" id="modal-basic-title">Crear producto</h4>
      <h4 *ngIf="producto.edit" class="modal-title" id="modal-basic-title">Editar producto</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form (ngSubmit)="gestion()" #form="ngForm">
      <div class="modal-body">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input [(ngModel)]="producto.nombre" name="nombre" class="form-control" type="text" required>
        </div>
        <div class="form-group">
          <label for="descripcion">Descripcion</label>
          <input [(ngModel)]="producto.descripcion" name="descripcion" class="form-control" type="text" required>
        </div>
        <div class="form-group">
          <label for="cantidad">Cantidad</label>
          <input [(ngModel)]="producto.cantidad" name="cantidad" class="form-control" type="text" required>
        </div>
        <div class="form-group">
          <label for="precio">Precio</label>
          <input [(ngModel)]="producto.precio" name="precio" class="form-control" type="text" required>
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox custom-control-inline">
            <input [(ngModel)]="producto.status" name="status" type="checkbox" class="custom-control-input"
              [checked]="producto.status">
            <label class="custom-control-label" for="status">Esta activo?</label>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button class="btn btn-info" type="submit" [disabled]="!form.valid || requestServ.loading">
          <span *ngIf="requestServ.loading"><span class="spinner-border spinner-border-sm mr-2" role="status"
              aria-hidden="true"></span>
            Loading...
          </span>
          <span *ngIf="!requestServ.loading">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</ng-template>